In [1]:
d = 4.0
e = "hello world"

In [2]:

type(e)

str

In [3]:
type(d)

float

In [4]:
# to update the number d
d = 10
print(d)

10

In [10]:
world = "hello"
print(world[1])

e

In [11]:
print(world[1:])

ello

In [13]:
#adding words to a int and printing them
world1 = "hello word"
print(world1[2:5])

llo

In [14]:
print(world1[-1])

d

In [17]:
word3 =  "this is computer science class"
word3.upper()

'THIS IS COMPUTER SCEINCE CLASS'

In [18]:
word3.lower()

'this is computer sceince class'

In [20]:
word3.split()

['this', 'is', 'computer', 'sceince', 'class']

In [21]:
user_name = "Adetunji"
pin = 1234

print("Dear {} welcome, here is your pin {}" . format(user_name,pin))

Dear Adetunji welcome, here is your pin 1234

In [23]:
user_name = input("enter you username: ")
pin = input("Enter your pin: ")

print("Dear {} welcome, here is your pin {}" . format(user_name,pin))

enter you username: ade
Enter your pin: 1234
Dear ade welcome, here is your pin 1234

In [24]:
# LIST
our_list = [1,2,4]
type(our_list)

list

In [26]:
# to print only 2
print(our_list[1])

2

# LOOP
## WE HAVE DIFFERENT KIND OF LOOP
- we have the FOR LOOP and the WHILE LOOP

In [27]:
a = (1,2,3)

for n in a:
    print(n**2)

1
4
9

In [39]:
for char in "this is a string":
    print(char)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [49]:
# tuple are  immutable object they  cannot be edited or replace but list can. 
list_of_tuples = [(1,2),(2,3),(3,4)]
for x in list_of_tuples:
    print(x[0]+x[1])

3
5
7

In [45]:
score_student = []

In [47]:
score_student

[(34.0, 35.0)]

In [50]:
# to ignore in python you use \
m = float(input("what's your math score: "))
e = float(input("what's your english score: "))

data = (m,e)
score_student.append(data)
for x in score_student:
    print((x[0]+x[1])/2)

what's your math score: 34
what's your english score: 36.4
34.5
35.2

In [61]:
a = 2
while a<2:
    print("a is less than 10")
    a = a+b

## DICTIONARY

In [51]:
new_dict = {'a':1, 'b':3, 'c':4}
print(new_dict['a'])

1

In [56]:
new_dict = {'math':40, 'eng':30, 'chem':45}
print(new_dict['math'])

40

In [59]:
# to add to a dictionary
new_dict['history'] = 32
new_dict

{'math': 40, 'eng': 30, 'chem': 45, 'history': 32}

In [60]:
# if, if else and if elif else

if 3<2:
    print("3 is less than 2")
else:
    print("3 is greater than 2")

3 is greater than 2

In [62]:
# if elif

if 3==2:
    print("3 is greater than 2")
elif  3<2:
    print("3 is less than 2")
else:
    print("3 is definetly greater")

3 is definetly greater

In [63]:
if 3==3:
    print("3 is greater than 2")
elif  3<2:
    print("3 is less than 2")
else:
    print("3 is definetly greater")

3 is greater than 2

In [64]:
# to know the lenght of a word
lenght = "compute"
print(len(lenght))

7

In [68]:
# function
def addition(a, b):
    print(a+b)
    return

In [69]:
addition(3,2)

5

In [70]:
def multiplication(a, b):
    print(a*b)
    return

In [71]:
multiplication(40, 10)

400

In [74]:
def change_name(name):
    print("the passed name is {} ".format(name))
    #to change the name
    name = input("Enter your name: ")
    print("the new name is {}".format(name))
    return
name = "philip"
change_name(name)

the passed name is philip
Enter your name: adetayo
the new name is adetayo