In [1]:
#importing the libaries to be used
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reading the file to work on
df = pd.read_csv("Medical_insurance_dataset.csv")

In [13]:
#diplaying the first five
df.head()

,Age,EstimatedSalary,Gender_Female,Gender_Male,Purchased_not-purchased,Purchased_purchased
0,19,19000,0,1,1,0
1,35,20000,0,1,1,0
2,26,43000,1,0,1,0
3,27,57000,1,0,1,0
4,19,76000,0,1,1,0

In [4]:
#shecking the shape
df.shape

(400, 5)

In [9]:
# droping the feaature that is not neccesary
df.drop(["User ID"], axis =  1)

In [11]:
df = pd.get_dummies(df)