In [2]:
# wway to create a pandas datafrrame
import pandas as pd
data1 = {'Subject':['english', 'Math', 'Physics'], 'Score':[20, 39, 48]}
df = pd.DataFrame(data1)
df

   Subject  Score
0  english     20
1     Math     39
2  Physics     48

In [4]:
df['Subject']

0    english
1       Math
2    Physics
Name: Subject, dtype: object

In [5]:
df.head()

   Subject  Score
0  english     20
1     Math     39
2  Physics     48

In [9]:
df.tail(-1)

   Subject  Score
1     Math     39
2  Physics     48